<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SCRIPTS -->
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="./../assets/style/style.css">
    <title>Create</title>
</head>

<body>
    <div class="container">
            <div class="Header">
                    ​<figure class="displayed">
                        <source srcset="./../assets/img/logo.png" type="image">
                        <img src="./../assets/img/logo.png" class="img-fluid" alt="...">
                    </figure>                    
            </div>
        <div class="body">
           
            <div class="container-fluid">
                <form class="formClass">
                    <div class="col text-center">
                            <h4>Cadatro de Usuário</h4>
                    </div>
                    
                    <div class="formGroup">
                        <label for="exampleInputName" >NOME*</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Nome Completo">
                    </div>
                    <div class="formGroup">
                        <label for="exampleInputCPF">CPF*</label>
                        <input type="text" class="form-control" id="exampleInputCPF" placeholder="Seu CPF">
                    </div>
                    <div class="formGroup">
                            <label for="exampleInputEmail1" >E-MAIL*</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu e-mail">
                    </div>
                    <div class="formGroup">
                            <label for="exampleInputDate" >DATA DE NASCIMENTO*</label>
                            <input type="date" class="form-control" id="exampleInputDate" aria-describedby="emailHelp" placeholder="Data de nascimento">
                    </div>                            
                    <div class="form-group">
                            <label for="exampleInputCertificate" >CERTIFICADO*</label>
                            <select class="form-control" id="exampleInputCertificate">
                                <option>Certificado 1</option>
                                <option>Certificado 2</option>
                                <option>Certificado 3</option>
                                <option>Certificado 4</option>
                                <option>Certificado 5</option>
                            </select>                            
                        </div>
                    <br>
                    <div class="row">                        
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <scripts>
            <script src="./../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>           
        </scripts>
    </div>
</body>
</html>