<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SCRIPTS -->
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="./../assets/style/style.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
            <div class="Header">
                    ​<figure class="displayed">
                        <source srcset="./../assets/img/logo.png" type="image">
                        <img src="./../assets/img/logo.png" class="img-fluid" alt="...">
                    </figure>                    
            </div>
        <div class="body">
            <div class="container-fluid">
                <form class="formClass">
                    <div class="formGroup">
                        <label for="exampleInputEmail1" >E-MAIL*</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu e-mail">
                    </div>
                    <div class="formGroup">
                        <label for="exampleInputPassword1">SENHA*</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sua senha">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xl-6 text-center">
                            <button type="button" class="btn btn-secondary btn-block"> Recuperar Senha</button>                  
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-6 text-center">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <scripts>
            <script src="./../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        </scripts>
    </div>
</body>
</html>